---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
// import Me from '../components/me';
import 'css-doodle';
import Me from '../assets/me.jpeg'

---

<Layout title="Welcome to Astro.">
	<Header />
	<div class="w-full h-full font-light text-slate-200">
		<div class="w-full h-full bg-cover bg-center bg-[url('/ai/1.png')]"></div>
		<div class="absolute left-0 top-0 right-0 bottom-0 w-full h-full bg-black opacity-50"></div>
		<div class="flex absolute left-0 top-0 right-0 bottom-0 w-[800px] h-[300px] m-auto justify-center">
			<div class="
				relative
				flex
				rounded-full
			">
				<img src={Me} alt="" rounded-full class="shadow-[0_0_5px_0_#999]"/>
			</div>
			<div flex flex-col ml-6 justify-center>
				<span text-4xl>林腾</span>
				<span mt-2 text-2xl>一个兴趣使然的web工程师</span>
				<span mt-6 text-base>探索的道路，永无止境</span>
			</div>
		</div>
	</div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	css-doodle {
    --rule: (
      @grid: 5 / 8em;
      --d: @p(45deg, -45deg, 135deg, -135deg);
      --lg: linear-gradient(@var(--d),#60569e 50%,#0000 0);
      background:
        @var(--lg) 0 0 / 100% 100%,
        @var(--lg) 0 0 / 50% 50%;
    );
  }

</style>